# Backend
forum-backend/node_modules
forum-backend/dist
forum-backend/.env

# Frontend
forum-frontend/node_modules
forum-frontend/dist
forum-frontend/.env

# OS
.DS_Store

# VS Code
.vscode

# Logs
*.log